webapp/src/main/resources/xsd/error.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="errorMessage">
        <xs:sequence>
            <xs:element name="code" type="xs:int"/>
            <xs:element name="cause" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>